.container{
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 29px 139px 30px 139px;
    align-items: center;
}

ul{
    display: flex;
    gap: 68px;
}
li{
    font-size: 13px;
    color:#8172d5
}
.search{
    width: 227px;
    height: 37px;
    border-radius: 5px;
    background-color: #f2f5f8;
   justify-items: end;
}

i{
    width: 37px;
    height: 37px;
    border-radius: 5px; 
    justify-content: end;
    background-color: #8172d5;
    font-size: 20px;
    color: #ffffff
}
 
/* section */

section{
    width: 100%;
    height: 1017px;
    margin: 0 auto;
    background-color:gainsboro 
}
h2{
    padding-top: 59px;
    padding-left: 140px;
    font-size: 18px;
}
.cards{
    width: 80%;
    height: 795px;
    display: flex;
    padding-top: 28px;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 108px;
    gap: 16px;
    align-content:space-between
}
.card{
    width: 23%;
    height: 368px;
    align-content: space-between;
    background-color: #ffffff;
    padding-top: 18px;
    margin: 0 auto;
    border-radius: 10px;   
}
.card_img{
    width: 86.15%;
    height: 125px;
    margin-left: 18px;
}
.cars_text{
    width: 201px;
    height: 128px;
    font-size: 20px;
    margin-bottom: 21px;
    margin-top: 75px;
    margin-left: 18px;
    justify-content: center;
}

/* footer */

.footer_container{
    width: 100%;
    height: 70px;
    background-color: #758bfd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 139px;
    padding-right: 138px;
    gap: 112px;
    
}
.f_photo{
    width: 48;
    height: 12px;
}
.f_text{
    color: #ffffff;
    font-size: 14px;
}